<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
</ion-content> -->

<div>
  <section class="hero">
    <div class="hero-bg"></div>
    <div class="content">
      <h1>Benvenuto nell’Anagrafica Digitale</h1>
      <p>Gestisci le persone in modo semplice, rapido e moderno.</p>
      <div class="buttons">
        <button mat-raised-button color="accent" class="btn-animate" (click)="navigateTo('/addUser')">
          <mat-icon>person_add</mat-icon>
          Aggiungi Anagrafica
        </button>
        <button mat-raised-button color="accent" class="btn-animate" (click)="navigateTo('/searchUser')">
          <mat-icon>search</mat-icon>
          Ricerca Anagrafica
        </button>
      </div>
      <div class="wave"></div>
    </div>
  </section>
</div>

