<div class="auth-container">

  <ion-card>
    <h2>Register</h2>

    <form [formGroup]="registerForm">
      <ion-list>

        <ion-item>
          <ion-input label="Name:" type="name" placeholder="name" formControlName="name"></ion-input>
        </ion-item>

        <ion-item>
          <ion-input label="Username:" type="username" placeholder="Username" formControlName="username"></ion-input>
        </ion-item>

        <ion-item>
          <ion-input label="Email:" type="email" placeholder="try@me.it" formControlName="email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-input label="Password:" type="password" value="" formControlName="password">
            <ion-input-password-toggle></ion-input-password-toggle>
          </ion-input>
        </ion-item>

        <div>
          <div [align]="'center'">
            <ion-button shape="round" (click)="register(registerForm)">Register
            </ion-button>
          </div>
        </div>


      </ion-list>
    </form>

  </ion-card>
</div>