<div #header class="panel-header">
  <div class="panel-handle"></div>
  <div class="header-title">
    <h6>Routines</h6>
  </div>
</div>

<ion-content fixed-slot-placement="before">
  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button (click)="addItem()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-list>
    <!-- The reorder gesture is disabled by default, enable it to drag and drop items -->
    <!-- Casting $event to $any is a temporary fix for this bug https://github.com/ionic-team/ionic-framework/issues/24245 -->
    <ion-reorder-group
      [disabled]="false"
      (ionReorderEnd)="handleReorderEnd($any($event))"
    >
      @for (item of items; track item; let index = $index) {
      <ion-item button>
        <!-- <ion-reorder slot="start"></ion-reorder> -->
        <ion-reorder slot="start">
          <mat-icon>drag_indicator</mat-icon>
        </ion-reorder>
        <ion-avatar slot="start">
          <img
            [src]="'https://picsum.photos/80/80?random=' + index"
            alt="avatar"
            id="open-modal"
            expand="block"
          />
          <ion-modal
            trigger="open-modal"
            [initialBreakpoint]="1"
            [breakpoints]="[0, 1]"
          >
            <ng-template>
              
              <ion-content class="ion-padding" fixed-slot-placement="before">

                <app-routine-detail></app-routine-detail>

              </ion-content>
            </ng-template>
          </ion-modal>
        </ion-avatar>
        <ion-label>{{ item }}</ion-label>
      </ion-item>
      }
    </ion-reorder-group>
  </ion-list>
</ion-content>
