ion-content {
  --background: transparent;
}

:host {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  background: white;
  z-index: 10;
  
  transform: translateY(100%);
  transition: transform 0.3s ease-out;
}

:host(.is-open) {
  transform: translateY(0);
}

.panel-header {
  padding: 8px 0;
  background: var(--ion-color-primary);
  cursor: grab;
  flex-shrink: 0;
}

.panel-handle {
  width: 40px;
  height: 5px;
  background: rgba(255, 255, 255, 0.5); 
  border-radius: 3px;
  margin: 0 auto;
}

.header-title h6 {
  margin: 0;
  padding-left: 5%;
  size: 12px;
  font-size: 1.1em;
  font-weight: 600;
  color: black;
}

ion-content {
  --background: transparent;
  flex-grow: 1;
}

ion-modal {
  --height: 60%;
}

.avatar-cerchio {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}


