
 <ion-header
  appDraggablePanel
  (draggedDown)="draggedDown.emit()"
  (dragProgress)="dragProgress.emit($event)"
>
  <div class="panel-handle"></div>
  <ion-text>Routines</ion-text>
</ion-header>

<ion-content fixed-slot-placement="before">

  @if ((routines$ | async)!.length > 0) {
  <ion-list [inset]="true">
    <ion-reorder-group
      [disabled]="false"
      (ionReorderEnd)="handleReorderEnd($any($event))"
    >
      @for (item of routines$ | async; track item; let index = $index) {
      <ion-item button>
        <ion-reorder slot="start">
          <mat-icon>drag_indicator</mat-icon>
        </ion-reorder>
        <ion-fab-button
          size="small"
          slot="start"
          style="--box-shadow: none"
          [style.--background]="item.color"
          id="open-modal-{{ item.id }}"
        >
          {{ item.colorLabel }}
          <ion-modal
            trigger="open-modal-{{ item.id }}"
            [initialBreakpoint]="1"
            [breakpoints]="[1]"
            handle="false"
          >
            <ng-template>
              <ion-content
                class="ion-padding"
                fixed-slot-placement="before"
                [scrollY]="false"
                (touchmove)="$event.stopPropagation()"
              >
                <app-routine-detail
                  [colors]="(palette$ | async)!"
                  [currentItem]="item"
                ></app-routine-detail>
              </ion-content>
            </ng-template>
          </ion-modal>
        </ion-fab-button>
        <ion-label>{{ item.label }}</ion-label>
      </ion-item>
      }
    </ion-reorder-group>
  </ion-list>
}
</ion-content>
