:host {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  z-index: 10;
  background: var(--ion-color-surface) !important;
  transform: translateY(100%);
  transition: transform 0.3s ease-out;
}

:host(.is-open) {
  transform: translateY(0);
}

ion-header {
  padding: 8px 0;
  cursor: grab;
  flex-shrink: 0;
}

.panel-handle {
  width: 40px;
  height: 5px;
  // background: rgba(255, 255, 255, 0.5);
  background: var(--black-40);
  border-radius: 3px;
  margin: 0 auto;
}

ion-text {
  margin: 0;
  padding-left: 5%;
  size: 12px;
  font-size: 1.1em;
  font-weight: 600;
}

ion-icon {
  color: black !important;
}

ion-fab-button::part(close-icon) {
  color: black !important; /* o un tuo colore */
}

ion-content {
  flex-grow: 1;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  overflow: hidden;
}

ion-modal {
  --height: 60%;
}

.avatar-cerchio {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

ion-list {
  --background: transparent !important;
  --ion-item-background: transparent !important;
  // background: transparent !important;
  // box-shadow: none !important;
  // border: none !important;
}

ion-item {
  // --background: transparent !important;
  // --ion-item-background: transparent !important;
  // background: transparent !important;
  // box-shadow: none !important;
  // border: none !important;

  /* elimina effetti di elevazione tipici del dark theme */
  --ion-color-base: transparent !important;
  --ion-color-step-50: transparent !important;
  --ion-color-step-100: transparent !important;
}

// ion-reorder {
//   background: transparent !important;
//   --background: transparent !important;
// }
