:host {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  z-index: 10;
  background: var(--ion-color-surface) !important;
  transform: translateY(100%);
  transition: transform 0.3s ease-out;
}

:host(.is-open) {
  transform: translateY(0);
}

ion-header {
  padding: 8px 0;
  cursor: grab;
  flex-shrink: 0;
}

.panel-handle {
  width: 40px;
  height: 5px;
  background: var(--black-40);
  border-radius: 3px;
  margin: 0 auto;
}

ion-text {
  margin: 0;
  padding-left: 5%;
  size: 12px;
  font-size: 1.1em;
  font-weight: 600;
}

ion-content {
  flex-grow: 1;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  overflow: hidden;
}

ion-modal {
  --height: 60%;
}

.avatar-cerchio {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

ion-list {
  --background: transparent !important;
  --ion-item-background: transparent !important;
  background: transparent !important;
  box-shadow: none !important;
  border: none !important;
}

ion-item {
  --background: transparent !important;
  --ion-item-background: transparent !important;
  background: transparent !important;
  box-shadow: none !important;
  border: none !important;
  --ion-color-base: transparent !important;
  --ion-color-step-50: transparent !important;
  --ion-color-step-100: transparent !important;
}

ion-item {
  --inner-padding-start: 0px !important;
  --padding-start: 0px !important;
  --padding-end: 0px !important;
  align-items: center;

  ion-reorder[slot="start"] {
    margin-inline-end: 4px;
  }

  ion-fab-button[slot="start"] {
    margin-inline-start: 0 !important;
    margin-inline-end: 8px !important;
  }

  ion-label {
    margin-left: 0 !important;
  }
}

