
ion-icon, ion-title, ion-text {
  font-size: 20px;
  color: black;
}

.contenitore-pagina {
  display: flex;          
  flex-direction: column; /* Organizza i figli in colonna (verticalmente) */
  height: 65%;           /* Occupa tutta l'altezza della pagina */
}

.picker-container {
  flex: 1; /* dice al container di occupare tutto lo spazio verticale rimanente */
  display: flex;
  align-items: center;
  justify-content: center;
}

.color-preview {
  padding: 1rem;
  text-align: center;
  font-family: monospace;
  color: white;
  text-shadow: 1px 1px 2px black;
}

