<div>
  <ion-grid>
    <ion-row>
      <!-- Checkmark -->
      <ion-col size="1" class="ion-text-start" (click)="cancel()">
        <ion-icon name="close-circle-sharp"></ion-icon>
      </ion-col>

      <ion-col size="6" class="ion-text-start">
        <ion-title>Color code</ion-title>
      </ion-col>

      <ion-col size="1"> </ion-col>

      <ion-col size="1"> </ion-col>

      <ion-col size="2"> </ion-col>

      <ion-col size="1" class="ion-text-end" (click)="confirmColorSelection()">
        <ion-icon name="checkmark-sharp"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>

<ion-content class="ion-padding">
  <div class="picker-container">
    <app-color-picker
      [(color)]="currentColor"
      (colorChange)="onColorChange($event)"
    >
    </app-color-picker>
  </div>

  <div class="color-preview" [style.background-color]="currentColor">
    Colore corrente: {{ currentColor }}
  </div>
</ion-content>
