.logo > p {
  margin: 0;
  color: black;
  font-weight: bold;
  font-size: 1.5rem;
}

.menu-icon {
  // position: relative;
  // top: 10px;
  // left: 10px;
  cursor: pointer;
  justify-content: start;

}
.menu-icon > ion-icon {
  color: black;
  font-size: 32px;
  cursor: pointer;  

}

.header-separator {
  height: 8px;
  background: #593B95;
  background-size: 1600% 1600%;
  animation: bgShift 30s ease infinite;
  border-radius: 20px;
  margin-top: 0.5vh;
  margin-bottom: 1vh;
  margin-left: 15vh;
  margin-right: 15vh;
}
