
<ion-grid>
  <ion-row class="ion-align-items-center">
    <!-- Menu -->
    <ion-col size="3" class="ion-text-start">
      <ion-icon name="menu" class="menu-icon" (click)="toggleMenu()"></ion-icon>
    </ion-col>

    <!-- Spazio -->
    <ion-col size="1"></ion-col>

    <!-- Home -->
    <ion-col size="4" class="ion-text-center">
      <div class="home" (click)="navigateTo('/home')">Home</div>
    </ion-col>

    <!-- Spazio -->
    <ion-col size="1"></ion-col>

    <!-- Login / Logout -->
    <ion-col size="3" class="ion-text-end">
      @if (!this.authService.isLoggedIn()) {
      <div class="login-div">
        <ion-icon name="log-in-sharp" class="login-icon" (click)="navigateTo('/userLogin')"></ion-icon>
      </div>
      } @else {
      <div class="logout-div">
        <ion-icon name="log-out-sharp" class="logout-icon" (click)="logout()"></ion-icon>
      </div>
      }
    </ion-col>
  </ion-row>

  @if (this.authService.isLoggedIn()) {
  <ion-row class="ion-align-items-center">
    <!-- Placeholder di benvenuto -->
    <ion-col size="3" class="ion-text-start">
      <ion-text>Ciao {{this.authService.userName}}</ion-text>
    </ion-col>

    <!-- Spazio -->
    <ion-col size="1" class="ion-text-start">
    </ion-col>

    <!-- Spazio -->
    <ion-col size="4"></ion-col>

    <!-- Spazio -->
    <ion-col size="1" class="ion-text-start">
    </ion-col>

    <!-- Login / Logout -->
    <ion-col size="3" class="ion-text-end">
      <div class="logout-div">
        <span class="logout-text">LogOut</span>
      </div>
    </ion-col>
  </ion-row>
  }

  @if (childTitle) {
    <ion-row class="child-header">
      <ion-col size="1" class="ion-text-center">
        <ion-icon name="arrow-back-sharp" (click)="goBack()"></ion-icon>
      </ion-col>
      <ion-col size="7" class="ion-text-start">
        <ion-title>{{ childTitle }}</ion-title>
      </ion-col>

      @if (childTitle==='Statistics') {
        <ion-col size="2"></ion-col>
      }

      <ion-col size="2" class="ion-text-end share-social">
        @if (childTitle!='Body') {
          <ion-icon name="share-social-sharp"></ion-icon>
        } @else {
          <ion-icon name="pencil-sharp"></ion-icon>
        }
      </ion-col>

      @if (childTitle!='Statistics') {
        <ion-col size="2" class="ion-text-end">
          <ion-icon name="ellipsis-vertical-sharp"></ion-icon>
        </ion-col>
      }
    </ion-row>
  }

</ion-grid>