// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {
  --ion-color-primary: #5c6b73;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-secondary: #3dc2ff;
  --ion-color-secondary-rgb: 61, 194, 255;

  --ion-toolbar-background: var(--ion-color-primary);
  --ion-toolbar-color: #fff;
}
