/* contenuto centrale */
.content {
  padding: 1rem;
  display: flex;
  flex-direction: column;
   flex: 1 0 auto;
  overflow-y: auto;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  height: 64px;
}

.footer {
  margin-top: auto;
  background: #000;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

ion-app {
  --background: #ffffff;
}

ion-content {
  --background: #f5f5f5;
}

ion-toolbar {
  --background: #1976d2;
  color: #ffffff;
}

ion-footer ion-toolbar {
  --background: #000000;
  color: #ffffff;
}