<!-- DESKTOP
<div *ngIf="!isMobile" class="app-wrapper">
  <header class="header">
    <mat-toolbar color="primary">
      <app-header></app-header>
    </mat-toolbar>
  </header>

  <main class="content">
    <router-outlet></router-outlet>
  </main>

  <footer class="footer">
    <app-footer></app-footer>
  </footer>
</div> -->

<!-- MOBILE -->
<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-title>
        <app-header></app-header>
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <router-outlet></router-outlet>
  </ion-content>

  <ion-footer>
    <ion-toolbar>
      <app-footer></app-footer>
    </ion-toolbar>
  </ion-footer>
</ion-app>