<ion-grid>
  <ion-row class="ion-align-items-center">
    <ion-col size="1" class="ion-text-start" (click)="saveAndClose()">
      <ion-icon name="checkmark-sharp"></ion-icon>
    </ion-col>
    <ion-col size="3">
      <ion-text>Routine</ion-text>
    </ion-col>
    <ion-col size="5" class="ion-text-center"> </ion-col>
    <ion-col size="1">
      <ion-icon name="clipboard-sharp"></ion-icon>
    </ion-col>
    <ion-col size="1">
      <ion-icon name="share-social-sharp"></ion-icon>
    </ion-col>
    <ion-col size="1" class="ion-text-end">
      <ion-icon name="ellipsis-vertical-sharp"></ion-icon>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-content>
  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col size="12" class="ion-text-start">
        <ion-input
          label="Name"
          label-placement="stacked"
          fill="outline"
          placeholder="Routine name"
          [value]="inputModel"
          (ionInput)="onInput($event)"
          #ionInputEl
        ></ion-input>
      </ion-col>
    </ion-row>

    <ion-row class="ion-align-items-center">
      <ion-col size="12" class="ion-text-start">
        <ion-label>Etichetta</ion-label>
      </ion-col>
      @for (item of items; track item.id) {
      <ion-col size="2.4">
        <ion-fab-button
          [style.--background]="item.color"
          [style.--color]="'#ffffff'"
          (click)="removeItem(item.id)"
        >
          {{ item.label }}
        </ion-fab-button>
      </ion-col>
      }
      <ion-col size="2.4">
        <ion-fab-button (click)="addItem('lun')">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-col>
    </ion-row>

    <ion-row class="ion-align-items-center">
      <ion-col size="12" class="ion-text-start">
        <ion-label>Codifica colore</ion-label>
      </ion-col>
      @for (colorItem of colorPalette; track colorItem.id) {
      <ion-col size="2.4">
        <ion-fab-button
          [style.--background]="colorItem.color"
          (click)="selectNewColorForRoutine(colorItem.color)"
        ></ion-fab-button>
      </ion-col>
      }
      <ion-col size="2.4">
        <ion-fab-button (click)="openColorPicker()">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
