<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Annulla</ion-button>
    </ion-buttons>
    <ion-title>Nuova Etichetta</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()" [strong]="true">Crea</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-row class="ion-align-items-center">
    <ion-col size="12" class="ion-text-start">
      <ion-input
        label="Nome etichetta"
        labelPlacement="stacked"
        fill="outline"
        placeholder="Es. Giorno 1"
        [value]="label"
        (ionInput)="onInput($event)"
        #ionInputEl
      ></ion-input>
    </ion-col>

    <ion-col size="12" class="ion-text-start">
      <ion-label>Scegli un colore</ion-label>
    </ion-col>

    @for(colorItem of availableColors; track colorItem.id) {
    <ion-col size="2.4">
      <button
        class="color-swatch"
        [style.background]="colorItem.color"
        (click)="selectColor(colorItem.color)"
        [class.selected]="colorItem.color === selectedColor"
      ></button>
    </ion-col>
    }
  </ion-row>
</ion-content>
