<ion-header>
  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col size="1" class="ion-text-start" (click)="cancel()">
        <ion-icon name="close-sharp"></ion-icon>
      </ion-col>
      <ion-col size="6" class="ion-text-start">
        <ion-text>Crea Routine</ion-text>
      </ion-col>
      <ion-col size="1"> </ion-col>
      <ion-col size="1"> </ion-col>
      <ion-col size="1"> </ion-col>
      <ion-col size="2" class="ion-text-end" (click)="confirm()">
        <ion-icon name="checkmark-sharp"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content class="ion-padding" [scrollY]="false">
  <ion-row class="ion-align-items-center">
    <ion-col size="12" class="ion-text-start">
      <ion-input
        label="Nome etichetta"
        labelPlacement="stacked"
        fill="outline"
        placeholder="Es. Giorno 1"
        [value]="label"
        (ionInput)="onInput($event)"
        #ionInputEl
      ></ion-input>
    </ion-col>

    <ion-col size="12" class="ion-text-start">
      <ion-label>Scegli un colore</ion-label>
    </ion-col>

    @for(colorItem of availableColors; track colorItem.id) {
    <ion-col size="2.4">
      <button
        class="color-swatch"
        [style.background]="colorItem.color"
        (click)="selectColor(colorItem.color)"
        [class.selected]="colorItem.color === selectedColor"
      ></button>
    </ion-col>
    }
  </ion-row>
</ion-content>
