.color-swatch {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid transparent;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.color-swatch.selected {
  border-color: var(--ion-color-primary);
  transform: scale(1.1);
}

ion-icon, ion-text {
    font-size: 20px;
    color: black;
}