
<ion-content class="ion-text-center ion-padding">
  <section class="hero">
    <div class="hero-bg"></div>

    <ion-accordion-group class="glass-container" [value]="currentAccordion"
      (ionChange)="currentAccordion = $event.detail.value" #accordionGroup expand="compact" mode="md">
      <ion-card-header>
        <ion-card-title>Registrazione Anagrafica</ion-card-title>
      </ion-card-header>

      <ion-accordion *ngFor="let step of stepConfig; let i = index" [value]="i">
        <ion-item slot="header" color="light">
          <ion-label>{{ step.label }}</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <form [formGroup]="stepForms[i]">
            <ion-item *ngFor="let control of step.controls; let j = index">
              <ion-input [formControlName]="control.name" [placeholder]="control.placeholder"></ion-input>
            </ion-item>
          </form>
        </div>
      </ion-accordion>

      <ion-grid>
        <ion-row class="ion-justify-content-center ion-align-items-center" style="gap: 1rem;">
          <ion-col size="auto">
            <ion-button expand="block" shape="round" (click)="resetStepper()">Reset</ion-button>
          </ion-col>
          <ion-col size="auto">
            <ion-button expand="block" shape="round" (click)="submitStepper(this.stepForms)">Submit</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>


    </ion-accordion-group>

    <div class="wave"></div>



  </section>


</ion-content>