<div class="auth-container">
  <ion-accordion-group #accordionGroup background-color="white">
    <ion-card-header>
      <ion-card-title>Registrazione Anagrafica</ion-card-title>
    </ion-card-header>
    <ng-container *ngFor="let step of stepConfig; let i = index">
      <ion-accordion [value]="i">
        <ion-item slot="header">
          <ion-label>{{ step.label }}</ion-label>
        </ion-item>

        <div class="ion-padding" slot="content">
          <form [formGroup]="stepForms[i]">
            <ng-container *ngFor="let control of step.controls; let j = index">
              <ion-item>
                <ion-input [formControlName]="control.name" [placeholder]="control.placeholder"></ion-input>
              </ion-item>
            </ng-container>
          </form>
        </div>
      </ion-accordion>
    </ng-container>
  </ion-accordion-group>

</div>

<ion-button shape="round" (click)="resetStepper()">Reset</ion-button>
<ion-button shape="round" (click)="submitStepper(this.stepForms)">Submit</ion-button>