

.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  background: #0a00d2;
}

.auth-container ion-accordion-group {
  padding: 2rem;
  width: 400px;
  border-radius: 12px;
  background-color: rgb(113, 18, 18);
  box-shadow: 0 6px 18px rgba(142, 136, 136, 0.1);
}
