:host {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 280px;
  height: 280px;
}

.procreate-picker-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.hue-wheel-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

 .IroWheel {
    // Trasforma la ruota in un anello definendo un bordo interno trasparente.
    // Il calcolo è (width - inner_diameter) / 2 = (280px - 180px) / 2 = 50px
    border: 50px solid transparent;
    box-sizing: border-box;
  }
}

.sv-box-container {
  position: absolute;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  //...e nascondiamo (clippiamo) gli angoli del quadrato SVG che escono fuori.
  overflow: hidden;

 .IroBox {
    // Rende il riquadro S/V un disco perfetto
    border-radius: 50%;
  }
}

// Stile personalizzato per i selettori (handle) per emulare Procreate
.IroHandle {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: transparent;
  border: 3px solid white;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  transform: translate(-50%, -50%);
  cursor: pointer;

  // Nasconde l'elemento SVG di default di iro.js
  & > svg {
    display: none;
  }
}