<ion-grid>
  <ion-row class="ion-align-items-center">

    <ion-col class="ion-text-center">
      <div class="ion-activatable ripple-parent rounded-rectangle" [class.active]="isActive('/home')"
        (click)="navigateTo('/home')">
        <ion-ripple-effect></ion-ripple-effect>
        <div class="home">
          <ion-icon name="home-sharp"></ion-icon>
        </div>
      </div>
      <ion-label>Home</ion-label>
    </ion-col>

    <ion-col class="ion-text-center">
      <div class="ion-activatable ripple-parent rounded-rectangle" [class.active]="isActive('/statistics')"
        (click)="navigateTo('/statistics')">
        <ion-ripple-effect></ion-ripple-effect>
        <div class="statistics">
          <ion-icon name="stats-chart-sharp"></ion-icon>
        </div>
      </div>
      <ion-label>Statistic</ion-label>
    </ion-col>

    <ion-col class="ion-text-center">
      <div class="ion-activatable ripple-parent rounded-rectangle" [class.active]="isActive('/history')"
        (click)="navigateTo('/history')">
        <ion-ripple-effect></ion-ripple-effect>
        <div class="history">
          <mat-icon>history-sharp</mat-icon>
        </div>
      </div>
      <ion-label>History</ion-label>
    </ion-col>

    <ion-col class="ion-text-center">
      <div class="ion-activatable ripple-parent rounded-rectangle" [class.active]="isActive('/body')"
        (click)="navigateTo('/body')">
        <ion-ripple-effect></ion-ripple-effect>
        <div class="body">
          <ion-icon name="body-sharp"></ion-icon>
        </div>
      </div>
      <ion-label>Body</ion-label>
    </ion-col>

    <ion-col class="ion-text-center">
      <div class="ion-activatable ripple-parent rounded-rectangle" id="open-modal" expand="block"
        [class.active]="isActive('/menu')">
        <ion-ripple-effect></ion-ripple-effect>
        <div class="menu">
          <ion-icon name="menu" class="menu-icon"></ion-icon>
        </div>
      </div>
      <ion-label>Menu</ion-label>
    </ion-col>

  </ion-row>
  
</ion-grid>

<ion-content class="ion-padding">
  <ion-modal
    [keepContentsMounted]="true"
    trigger="open-modal"
    [initialBreakpoint]="1"
    [breakpoints]="[0, 1]"
    [handle]="false"
  >
    <ng-template>
      <div class="block">
        <ion-grid>
          <ion-row class="row">
            <ion-col size="12" class="ion-align-items-center col1">
              <div class="ion-activatable ripple-parent rounded-rectangle">
                <ion-ripple-effect></ion-ripple-effect>
                <ion-grid>
                  <ion-row>
                    <ion-col size="2" size-md="4" size-lg="2">
                      <div>
                        <ion-icon name="trophy-sharp"></ion-icon>
                      </div>
                    </ion-col>
                    <ion-col size="10" size-md="4" size-lg="2">
                      <div class="trophy-text">Record</div>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </div>
            </ion-col>

            <ion-col size="12" class="ion-align-items-center" col2>
              <div class="ion-activatable ripple-parent rounded-rectangle">
                <ion-ripple-effect></ion-ripple-effect>
                <ion-grid>
                  <ion-row>
                    <ion-col size="2" size-md="4" size-lg="2">
                      <div>
                        <ion-icon name="trophy-sharp"></ion-icon>
                      </div>
                    </ion-col>
                    <ion-col size="10" size-md="4" size-lg="2">
                      <div class="trophy-text">Record</div>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </div>
            </ion-col>

            <ion-col size="12" class="ion-align-items-center" col3>
              <div class="ion-activatable ripple-parent rounded-rectangle">
                <ion-ripple-effect></ion-ripple-effect>
                <ion-grid>
                  <ion-row>
                    <ion-col size="2" size-md="4" size-lg="2">
                      <div>
                        <ion-icon name="trophy-sharp"></ion-icon>
                      </div>
                    </ion-col>
                    <ion-col size="10" size-md="4" size-lg="2">
                      <div class="trophy-text">Record</div>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ng-template>
  </ion-modal>
</ion-content>

<!-- <ion-tab-bar color="primary">
  <ion-tab-button
    tab="1"
    [class.active]="isActive('/home')"
    (click)="navigateTo('/home')"
  >
    <ion-icon name="home-sharp"></ion-icon>
    <ion-label>Home</ion-label>
    <ion-badge color="danger"></ion-badge>
  </ion-tab-button>

  <ion-tab-button
    tab="2"
    [class.active]="isActive('/statistics')"
    (click)="navigateTo('/statistics')"
  >
    <ion-icon name="stats-chart-sharp"></ion-icon>
    <ion-label>Statistic</ion-label>
  </ion-tab-button>

  <ion-tab-button
    tab="3"
    [class.active]="isActive('/history')"
    (click)="navigateTo('/history')"
  >
    <div class="history">
      <mat-icon>history-sharp</mat-icon>
    </div>
    <ion-label>History</ion-label>
    <ion-badge color="danger">47</ion-badge>
  </ion-tab-button>

  <ion-tab-button
    tab="4"
    [class.active]="isActive('/body')"
    (click)="navigateTo('/body')"
  >
    <ion-icon name="body-sharp"></ion-icon>
    <ion-label>Body</ion-label>
    <ion-badge color="danger">47</ion-badge>
  </ion-tab-button>

  <ion-ripple-effect></ion-ripple-effect>
  <ion-tab-button
    tab="5"
    id="open-modal"
    expand="block"
    [class.active]="isActive('/menu')"
    (click)="navigateTo('/menu')"
  >
    <ion-icon name="menu" class="menu-icon"></ion-icon>
    <ion-badge color="danger">47</ion-badge>
    <ion-label>Menu</ion-label>
  </ion-tab-button>
</ion-tab-bar> -->
