.ripple-parent {
    position: relative;
    overflow: hidden;
    //   background-color: rgba(0, 150, 255, 0.2);
}

.rounded-rectangle {
    // width: 185px;
    height: 40px;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.ripple-parent.active {
    /* evidenziazione permanente */
    background-color: #625B71;
}

ion-icon {
    font-size: 20px;
    color: black;
}

ion-text {
    font-size: 12px;
    color: black;
    cursor: pointer;
    font-weight: bold;
}

// mat icon history

.history {
    font-size: 20px;
    color: black;
}

// modale 

.block {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

ion-modal {
    --height: auto;
    --border-radius: 20px;
    --border-top-left-radius: 20px;
    --border-top-right-radius: 20px;
    --background: var(--ion-color-primary-container);
}



// testo icona trophy
.trophy-text {
    font-size: 18px;
    color: black;
    cursor: pointer;
    align-self: right;
    justify-content: right;
}

.col2 {
    margin-top: 10px;
    margin-bottom: 10px;
}