<div class="search-container">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Search Persons</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="searchForm" (ngSubmit)="onSearch()" class="form-grid">

        <ion-item>
          <ion-label position="floating">Nome</ion-label>
          <ion-input formControlName="nome"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Cognome</ion-label>
          <ion-input formControlName="cognome"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Codice Fiscale</ion-label>
          <ion-input formControlName="codiceFiscale"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input formControlName="email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Telefono</ion-label>
          <ion-input formControlName="telefono"></ion-input>
        </ion-item>
      </form>

      <div class="actions">
        <button mat-raised-button color="primary" (click)="onSearch()">Search</button>
        <button mat-button (click)="onReset()">Reset</button>
      </div>

      <app-search [dataSource]="dataSource"></app-search>
    </ion-card-content>
  </ion-card>
</div>