<!-- <ion-content [scrollY]="false">
  <div>
    <ion-datetime #datetime [showDefaultTitle]="true"></ion-datetime>
  </div>

  @if(accordionGroup.value==='first') {
  <app-inline-modal
    (draggedDown)="closeAccordion()"
    (dragProgress)="onDragUpdate($event)"
    [class.modal-open]="accordionGroup.value === 'first'"
  ></app-inline-modal>
  }

  <ion-accordion-group #accordionGroup>
    @if (accordionGroup.value===undefined) { 
    <ion-accordion
      value="first"
      toggleIcon="caret-down-circle"
      toggleIconSlot="end" (click)="openAccordion()"
    >
      <ion-item class="header-icon" slot="header"></ion-item>
    </ion-accordion>
    }
  </ion-accordion-group>
</ion-content> -->
