<div class="auth-container">
  <ion-card>
    <h2>Login</h2>

    <form (ngSubmit)="login(loginForm)">
      <ion-list>
        <ion-item>
          <ion-input label="Email input" type="email" placeholder="email@domain.com"></ion-input>
        </ion-item>

        <ion-item>
          <ion-input label="Password input" type="password" value=""></ion-input>
        </ion-item>

        <ion-button shape="round" type="submit">Login
        </ion-button>

        <ion-button shape="round" type="submit" (click)="navigateTo('/userRegister')">Register
        </ion-button>
      </ion-list>
    </form>

  </ion-card>
</div>