<div class="auth-container">
  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col>
          <div>
            <ion-icon name="person-add-sharp" (click)="navigateTo('/userRegister')"></ion-icon>
          </div>
          <div>
            Register
          </div>
        </ion-col>
        <ion-col>
          <div>
            <h2>Login</h2>
          </div>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
    </ion-grid>

    <form [formGroup]="loginForm" (ngSubmit)="login(loginForm)">
      <ion-list>
        <ion-item>
          <ion-input label="Email:" type="email" placeholder="email@domain.com"></ion-input>
        </ion-item>

        <ion-item>
          <ion-input label="Password:" type="password" value=""></ion-input>
        </ion-item>

        <div>
          <div [align]="'center'">
            <ion-button shape="round" type="submit">Login
            </ion-button>
          </div>
        </div>

        <!-- <ion-button shape="round" (click)="navigateTo('/userRegister')">Register
        </ion-button> -->
      </ion-list>
    </form>

  </ion-card>
</div>